---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "115 年失智服務據點考評表單",
  description = "失智社區服務據點考評表單網頁化系統",
} = Astro.props;
---

<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
